/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
/* PressStart2P */
@font-face {
  font-family: 'PressStart2P';
  src:
    url("PressStart2P-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter Variable — вариативный шрифт */
@font-face {
  font-family: 'Inter';
  src: 
    url('Inter-Variable.woff2') format('woff2 supports variations'), 
    url('Inter-Variable.woff2') format('woff2-variations');          
  font-weight: 100 900;  
  font-style: normal;
  font-display: swap;        

}