/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* Шрифты */
  --font-main: "Inter", sans-serif;
  --font-accent: "PressStart2P", cursive;

  /* Толщина текста (Inter Variable) */
  --font-weight-text: 410;
  --font-weight-heading: 715;

  /* Градиент */
  --background-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
      repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);

  --content-width-card: clamp(375px, 90vw, 700px);

  --text-stroke-color: #000000;

  --button-text-color: #fff;
  --button-fill-color: #000;

  --like-main-body-color: none;
  --like-contour-color: #000;
  --like-sparks-color: #ff0000;

}
